body
  background #e8e8e8
  color #666

.podcast
  margin 8px
  padding 12px 15px 15px 15px
  background #fff

h1
  font-size 17px
  color rgba(0,0,0,0.8)

p
  font-size 14px
  color rgba(0,0,0,0.8)

button
  width 100%

.btn:focus
.btn:active:focus
.btn.active:focus
  outline none

.btn-default:focus
  background-color #fff
  border-color #ccc

#debug
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  font-size 9px
  overflow-y auto
  display none

.progress
  position relative
  height auto

.progress-bar
  height: auto
  padding 6px 0
  color transparent
  -webkit-transition none
  transition none

.progress-text
  position absolute
  top 0
  left 0
  width 100%
  padding 6px 0
  text-align center

.grid-1-4
  width 25%
  display inline-block

.player-tail
  padding-left 2px;
